* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #673ab7;
    font-family: monospace;
}

.circle {
    transform-style: preserve-3d;
    animation: animate 8s linear infinite;
}

@keyframes animate
   {
    0%
    {
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg);
}
}

.circle .word {
    position: absolute;
    transform-style: preserve-3d;
}

.circle .char {
    position: absolute;
    top: 0;
    left: 0;
    color: #35146f;
    font-size: 4em;
    padding: 5px 12px;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(250px);
}

